*{
    padding: 0;
    margin: 0;
  }* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  h1,h2,h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  span{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .navbar{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    box-shadow: rgba(6, 236, 194, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
  }
  .nav-links{
    display: flex;
    column-gap: 20px;
   
  }
  
  .nav-links a{
     text-decoration: none; 
     color:#1D232C;
     font-size: 21px;
     
  
    }
    .nav-links a:hover{
      text-decoration: underline;
      color:#1D232C;
  
  
    }
  .navbarmenu-toggle{
      display:none;
    }
  
    @media screen and (max-width:600px) {
      .navbarmenu-toggle{
        display:block;
      }
      .nav-links a{
        display: none;
      }
  
  
    }
  
    .sidenavbar{
      
      background-color: #1D232C;
      width:50%;
      position: fixed;
      top:0px;
      height:100%;
      transition: 1.5s;
      padding: 30px;
      color:white;
      left:-70%
    }
    
  .sidenav-link{
  
    margin-bottom: 30px;
  }
  .sidenav-links a{
  
    text-decoration: none;
    color:white;
  }
  .sidenav-link:hover{
    text-decoration: underline;
  }
  .xmark:hover{
    color:rgb(7, 255, 197)
  }
  
  .header{
  display: flex;
  gap:50px;  
  justify-content: center;
  padding: 60px;
  }
  
  .insideheader p,button{
  margin-top:5px;
  }
  
  img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .headerbutton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
  }
  @media  screen and (max-width:600px) {
  
    .headerimage{
  
      display:none;
    }
  
    .service-container-1 div{
  
      display: none;
    }
    .service-container-2{
      flex-direction: column;
    }
    
  }
  .servicesection{
    padding:20px;
  }
  .service-container-1{
    display: flex;
    justify-content: space-between;
  }
  
  .service-container-2{
   display: flex;
   justify-content: space-between;
   gap:10px;
   margin-top: 40px;
  }
  
  .service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 20px;
  }
  .service-container-2 h4,p{
    margin-top: 5px;
  }
  .arrival-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .arrival-container{
  position: relative;
  flex-basis: 20%;
  }
  .arrival-but{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-top: 15px;
    color: #1D232C;
    position: absolute;
    top:65%;
    left:18%;
    border-radius: 10px;
    border: none;
  }
  .news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .news input{
    padding:11px;
    width: 80vw;
    margin-bottom: 10px;
    border:solid black 3px;
    margin-top: 20px;
  }
  .news button{
    padding: 10px;
    background-color: #1D232C;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .footer-container{
    background-color: #1D232C;
    color: white;
    padding: 40px;
    margin-top: 20px;
    left:40px;
    
  }
  .footer{
    width: 100%;
  }
  .product-section{
    margin-top: 20px;
    
  }
  .product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10x;
    margin: auto;
    height: 50px;
    left: 20px;
    margin-top: 50px;
  
  }
  
  .product-search input{
    border: none;
    background-color: transparent;
   width: 100%;
   height: 100%;
   
  }
  
  .product-search :focus{
    outline:none;
  }
  
  .products{
    padding: 20px;
    display: flex;
    gap:50px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  .product-box{
    text-align: center;
    flex-basis: 20%;
  }
  .product image{
    border-radius: 30px;
  }
  
  .contactpage{
    background-color: #1d2c2b;
    height: 650px;
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    border-radius: 20px;
    margin-bottom: 60px;
  }
  
  .contacts {
    padding: 50px;
    color:white;
    
  }
  .name{
    margin-left:50px ;
   
  }
  .name input{
    width:850px;
    height:80px;
    border-radius: 10px;
    color:white;
    margin-top: 20px;
  }
  .name ,h3{
    color:white;
    
  }
  .name hover:focus{
    outline:none;
  }
  
  .email{
    margin-left:50px ;
    margin-top: 20px;
   
  }
  .email input{
    width:850px;
    height:80px;
    border-radius: 10px;
    color:white;
    margin-top: 20px;
  }
  .email ,h3{
    color:white;
    
  }
  .email hover:focus{
    outline:none;
  }
  
  .message{
    margin-left:50px ;
    margin-top: 20px;
  }
  .message input{
    width:850px;
    height:120px;
    border-radius: 10px;
    color:white;
    margin-top: 20px;
    
  }
  .message ,h3{
    color:white;
    
  }
  .message hover:focus{
    outline:none;
  }
  span{
    color:#09f9c9;
    text-decoration: underline;
  }